<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="bmf-category-heading" jhiTranslate="whistleBlowerApp.category.home.createOrEditLabel">Create or edit a Category</h2>

            <div>
                <bmf-alert-error></bmf-alert-error>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput  formControlName="name" />
                </mat-form-field>
            </div>

            <div>
                <button mat-button (click)="previousState()" color='warn'>
                   <span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button mat-raised-button [disabled]="editForm.invalid || isSaving" color="primary">
                    <span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
