<div>
  <h2 id="page-heading">
    <span jhiTranslate="whistleBlowerApp.complain.home.title">Complains</span>
  </h2>

  <bmf-alert-error></bmf-alert-error>

  <bmf-alert></bmf-alert>
  <div style="margin-bottom: 10px;">
    <mat-accordion>
      <mat-expansion-panel [expanded]="false" (opened)="expanded === !expanded">
        <mat-expansion-panel-header>
          <span>Filters</span> 
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-form-field>
            <mat-label>
              Category
            </mat-label>
            <mat-select [(ngModel)]="filter['categoryId.equals']">
              <mat-option [value]='c.id' *ngFor="let c of categories">
                {{c.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>
              Status
            </mat-label>
             <mat-select [(ngModel)]="filter['status.equals']">
              <mat-option value="PENDING">Pending</mat-option>
              <mat-option value="ON_PROGRESS">On Progress</mat-option>
              <mat-option value="CLOSED">Closed</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="search()" color="primary">
            Seach
          </button>
          <button mat-button (click)="clearFilter()" color="primary">
            Clear Filter
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div *ngIf="!complains?.length">
    <span class="table-overlay">No records found</span>
  </div>
  <table mat-table [dataSource]="complains" matSort *ngIf="!!complains?.length">

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef>Date Submitted</th>
      <td mat-cell *matCellDef="let element">{{ element.createdDate | date  }}</td>
    </ng-container>

    <ng-container matColumnDef="controlNumber">
      <th mat-header-cell *matHeaderCellDef>Ticket Number</th>
      <td mat-cell *matCellDef="let element">
        {{ element.controlNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name || 'Anonimous' }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">
        {{ element.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list color="primary">
          <mat-chip color="primary">{{ element.status }}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list color="primary">
          <mat-chip color="primary">{{ element.categoryName }}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="formActions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row">
          <button [routerLink]="['/complain', element.id, 'view']" color="primary" aria-label="Open Complain"
            mat-icon-button>
            <mat-icon>launch</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row class="data-row" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions"
    (page)="pageChange($event)">
  </mat-paginator>
</div>
