<div fxLayout="row" style="width: 100%;">
    <div fxFlex="60%" style="border-right: 1px solid rgba(0, 0, 0, 0.12);padding:10px">
        <mat-chip-list>
            <mat-chip color="accent">
                {{complain?.categoryName}}
            </mat-chip>
        </mat-chip-list>
        <br/>
        <div fxLayout="row" fxLayoutGap="5px">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input disabled matInput [value]="complain?.name || 'Anonimous'" />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Position</mat-label>
                <input disabled matInput [value]="complain?.position" />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Organisation</mat-label>
                <input disabled matInput [value]="complain?.organisation" />
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input disabled matInput [value]="complain?.email" />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input disabled matInput [value]="complain?.phoneNumber" />
            </mat-form-field>
        </div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea disabled matInput [value]="complain?.description"></textarea>
        </mat-form-field>
    </div>
    <div fxFlex="40%" style="padding: 10px;">
        <div fxLayout="row" style="width: 100%;">
            <mat-label>Comments</mat-label>
            <span class="spacer"></span>
            <button mat-button color="primary" (click)="addComment()">
                <mat-icon>add_comment</mat-icon>
                <span>Add Comments</span>
            </button>
        </div>
    </div>
</div>