<div class="row">
    <div class="col-md-3">
        <!-- <span class="hipster img-fluid rounded"></span> -->
        <mat-icon style="font-size: 80%;margin: auto; color:#5f6368;">campaign</mat-icon>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Whistle Blower Secured Application!</h1>

        <p class="lead">
            Welcome to the Benjamin William Mkapa Foundation secured Whistle Blower system where you can leave a confidential message for the management to take appropriate action. Feel free to report your concern, BMF management will ensure the information is kept confidential.
        </p>
        <div fxLayout="row" fxLayoutGap="10px">
            <button type="button" color="primary" mat-raised-button routerLink="/complain/new">
                <mat-icon>campaign</mat-icon>
                <span>Submit Complain</span>
            </button>
        </div>
       
    </div>
</div>
